body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; /*El documento utilice toda la pagina*/
    padding: 0;
    background-color: #f5f5f5;
}
header{
    padding: 1em; /*seprara los elementos internamente*/
    display: flex; /*para mover los elementos*/
    flex-direction: column; /*coloca los items en columna*/
    justify-content: center; 
    align-items: center;
    background-color: #8f5a1d;
    color: #fff;
}
header h1{
    font-size: 4em;
}
header p{
    font-size: 18px;
}
nav ul{
    display: flex;
    gap: 1em;
    list-style: none; /*quita el formaro linea*/
}
ul a{
    text-decoration: none; /*quita la linea inferior a los anexos*/
    font-size: 20px;
    color: #fff;
}

section.mainSection{
    padding: 20px 0;
    background-color: #5386d5 ; 
}
section.secondSection{
    padding: 20px 0;
    background-color: #DAF7A6;
}
section.thirdSection{
    padding: 20px 0;
    background-color: #FFC300 ;
}
h2{
   padding: 50px 100px;
   font-size: 30px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    margin:0 40px;
    background-color: #fff;
    border-radius: 1em;
}
.element-hotel{
    line-height: 12px;
    text-align: center;
    padding:15px 10px;
    
}
.element-hotel p{
    font-size: 15px;
}
img{
    border: none;
    border-radius: 1em;
}
button{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 0.5em;
    background-color: #28a742;
    color: #fff;
}
button:hover{
    background-color: black;
    /*hola*/
    
}
footer{
    margin-top: 50px;
    text-align: center;
}
