body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; /*El documento utilice toda la pagina*/
    padding: 0;
    background-color: #eff1f4;
}
header{
    padding: 1em; /*seprara los elementos internamente*/
    display: flex; /*para mover los elementos*/
    flex-direction: column; /*coloca los items en columna*/
    justify-content: center; 
    align-items: center;
    background-color: #0a0c3f  ;
    color: #fff; 
}
header img#logo{
    width: 350px;
    height: 300px;
}
header p{
    font-size: 18px;
}
nav ul{
    display: flex;
    gap: 1em; /*defiinimos el espacio entre elementos*/
    list-style: none; /*quita el formaro linea*/
}
ul a{
    text-decoration: none; /*quita la linea inferior a los anexos*/
    font-size: 20px;
    color: #fff;
}
section.mainSection, section.secondSection, 
section.thirdSection{
    padding: 20px 0;
    background-color: #eff1f4; 
}
h2{
   font-size: 30px;
   text-align: center;
}
.container{
    display: flex;
    flex-wrap: wrap;
    margin:0 10px;
    background-color: #c7d4d6;
    border-radius: 1em;
}
.element-hotel{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 12px;
    padding:15px 10px;
    
}
.element-hotel p{
    font-size: 15px;
}
p.descuento{
    margin: 15px 125px;
    padding: 10px;
    border-radius: 10px;
    background-color: red;
    color: #fff;
}
img{
    border: none;
    border-radius: 1em;
}
button{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 0.5em;
    background-color: #28a742;
    color: #fff;
}
button:hover{
    background-color: #157edb   ;
}
footer{
    margin: 20px auto;
    text-align: center;
}

/*Estilos para el model*/
.modal { 
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
} 
.modal-content { 
    display: flex;
    background-color: #fefefe; 
    text-align: center;
    margin: 50px 130px; 
    padding: 20px; 
    border: 1px solid #888; 
    border-radius: 15px;
    width: 80%; 
} 
.modal-content p{
    margin: 15px 28em;
}
.close { 
    color: #aaa; 
    float: right; 
    font-size: 28px; 
    font-weight: bold; 
} 
.close:hover, .close:focus { 
    color: black; 
    text-decoration: none; 
    cursor: pointer;
}


/*Responsive Design*/

/*Estilos para moviles*/
@media only screen and (max-width:480px){
    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .element-hotel img{
        width: 100%;
    }
    p.descuento{
        width: 40%;
        margin: 15px 75px;
        padding: 15px 20px; 
    }
}


/*Estilos para tabletas*/
@media only screen and (max-width:768px){
    .element-hotel{
        width: 100%;
    }
    p.descuento{
        margin: 15px 220px;
    }
    .modal-content{
        margin: auto;
        justify-content: center;
        align-items: center;
    }
    #modal-content{
        margin: auto;
        justify-content: center;
        align-items: center;
    }
}

/*Estilos para Desktop*/
@media only screen and (max-width:1028px){
    section{
        flex-grow: 1;
    }
    .container{
       margin: 0;
       padding: 10px; 
       display: flex;
       flex-wrap: wrap;
    }
    .element-hotel{
        width: 45%;
        
    }
    p.descuento{
        margin: 10px 50px;
    }
    .modal-content{
        justify-content: center;
        align-items: center;
    }
    .modal-content p{
        margin: 10px 15em;
    }
    .close{
        display: flex;
        
    }
}